<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lcyzhibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB350881D8ECA42002048DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB350A11D8ECA43002048DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB350AC1D8ECA43002048DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
